<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:context="http://www.springframework.org/schema/context"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context.xsd">
 
<bean id="kids" class="com.SpringTutorial.constructor.Kids">
		<constructor-arg value="101" type="int" index="0"></constructor-arg>
		<constructor-arg value="Vishal" type="String" index="1"></constructor-arg>
		<constructor-arg index="2">
		<list>
		<value>Applied-Math</value>
				<value>Applied-Physics</value>
				<value>Applied-Chemistry</value>
				<value>History</value>
		
		</list>
		</constructor-arg>
</bean>
 
</beans>