<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context.xsd">

<context:annotation-config></context:annotation-config>

<bean name="car1" class="com.SpringTutorial.configfile.qualifire.Ex2.Cars">
<property name="firstCar" value="BMW"></property>
<property name="seconfCar" value="Audi"></property>
<property name="thirdtCar" value="Aulto"></property>
</bean>

<bean name="car2" class="com.SpringTutorial.configfile.qualifire.Ex2.Cars">
<property name="firstCar" value="McLear"></property>
<property name="seconfCar" value="Doodge"></property>
<property name="thirdtCar" value="Suzuki"></property>
</bean>

<bean name="person" class="com.SpringTutorial.configfile.qualifire.Ex2.Person"></bean>

</beans>